@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}

.form-wrapper {
  background-color: rgba(255, 255, 255, 0.75);
  /* background: rgb(76,97,162);
  background: linear-gradient(171deg, rgba(76,97,162,1) 46%, rgba(33,31,37,1) 96%, rgba(32,41,48,1) 100%); */
}

.blog-form-container {
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  color: rgba(255, 255, 255, 0.75);
}

.content-container{
    display: -webkit-box;
    -webkit-line-clamp: 6; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-title{
  display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
